* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

p {
    margin-bottom: 0;
    margin-right: 10px;
}

.sortBar {
    display: flex;
    width: 550px;
    margin: auto;
}

.sortColumn {
    display: inline-block;
    text-align: center;
}

p, .upIcon, .downIcon {
    display: inline-block;
}

.upIcon {
    margin-right: 5px;
}

#id {
    flex: 2;
}

#name {
    flex: 5;
}