* {
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

p, h4 {
    display: inline-block;
    line-height: 80px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    height: 80px;
    width: 80px;
    display: inline-block;
    position: relative;
}

.mount {
    height: 80px;
    width: 80%;
    margin: auto;
    background-color: aqua;
    position: relative;
    text-align: center;
}