* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h4,
h5,
img {
  display: inline-block;
}

h4 {
  vertical-align: middle;
  line-height: 90px;
  width: 120px;
  padding: 0;
  margin: 0;
  text-align: center;
}

h5 {
  vertical-align: middle;
  line-height: 90px;
  margin-left: 80px;
}

img {
  height: 80px;
  width: 80px;
  margin-top: 10px;

  /* margin-bottom: 10px; */
}

.mount {
  border: solid 2px black;
  border-radius: 10px;
  height: 100px;
  width: 550px;
  margin: auto;
  background-color: #d6dbdf;
  margin-bottom: 10px;
  /* text-align: center; */
}
